button{
    background-image: linear-gradient(to bottom, #9371d2, #ff7570); 
    // color: $main-color;
    color: white;
    // color: blue;
    border: none;
    width: 9rem;
    padding: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}