@import '../variable/variable';
@import '../button/button';
.Navbar{
    background-color: $first-color;
    color: white;
    .logo{

    }
    .search{

    }
    .item{
        
        ul{
            list-style: none;
            li{
                display: inline;
                margin: 0px 15px;
            }
        }
    }
}

button{
    @import url('../button/_button.scss');
}