
button {
    background-color: #38bd74;
    padding: 12px;
    width: 9rem;
    border: none;
    font-size: 10px;
    font-weight: 500;
    color: #fefeff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
